<nav id="nav">
	<div class="container-fluid">
		<div class="row">
			<div class="logo col-sm-3 col-xs-6">
				<a href="/">
					{% include 'logo.svg' %}
				</a>
			</div>
			<div class="nav-items col-sm-9 col-xs-6">
				<ul class="nav-items">
					<li><a href="/work" class="nav-work-link">Work</a></li>
					<li><a href="/about" class="nav-about-link">About</a></li>
					<li><a href="/news" class="nav-news-link">News</a></li>
					<li><a href="/contact" class="nav-contact-link">Contact</a></li>
					<li><a href="#search" class="search-toggle">Search</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>