
<div id="search-bar">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 col-lg-10 search-input-container">
				<input id="search-input" placeholder="type to search" autocomplete="off" />
			</div>
			<div class="col-md-3 col-lg-2 search-button-container">
				<a id="search-button" class="search-button" href="#">
					Search
				</a>
			</div>
			<div class="col-md-12 search-border-container">
				<div class="search-border"></div>
			</div>
		</div>
		<div id="search-information" class="row mt3 mb3">
			<div class="col-xs-12">
				<h3 id="search-information-message" class="medium centered"> &nbsp;
				</h3>
			</div>
		</div>					
	</div>
</div>
<div id="search-results" class="pb9">
	<div class="container-fluid">			
		<div id="results-categories" class="row search-results-row">
		</div>
		<div id="results-projects" class="row search-results-row">									
		</div>
		<div id="results-news" class="row search-results-row">
		</div>
		<div id="results-info" class="row search-results-row">
		</div>				
		<div id="results-about" class="row search-results-row">
		</div>
	</div>
</div>

<div id="search-close">
	<a href="#" class="search-toggle"><span class="icon" data-icon="’"></span></a>
</div>


