
<div id="search" class="off">
	<div class="search-bar">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9 search-input-container">
					<input id="search-input" placeholder="type to search" autocomplete="off" />
				</div>
				<div class="col-md-3 search-button-container">
					<a id="search-button" class="search-button" href="#">
						Search
					</a>
				</div>
				<div class="col-md-12 search-border-container">
					<div class="search-border"></div>
				</div>
			</div>
			<div id="search-results" class="row">
			</div>
		</div>

	</div>
</div>

<div id="search-close">
	<a href="#" class="search-toggle"><span class="icon" data-icon="’"></span></a>
</div>


