{% if item.stories %} 
	{% set stories = item.stories %}
		{% set threeSixtyNotLoaded = true %}
			{% set threeSixtyCount = 1 %}
			{% elseif item.acf.stories %}
				{% set stories = item.acf.stories %}
				{% endif %}


				{% if stories %}
					<section class="block bg-white padded" id="stories">
						<div class="container">
							{% for story in stories %}
								<div class="story story-{{ story.story_type}}" id="story-{{ loop.index }}">
									{% if story.story_type == 'full' %}
										<div class="row">
											{% if story.story_image %}
												<div class="col-xs-12 story-image">
													{% if story.story_image_link %}
														<a href="{{story.story_image_link}}">
														{% endif %}	
														<img src="{{ story.story_image.sizes.projectslideshow }}" />
														{% if story.story_image_link %}
														</a>
													{% endif %}	
												</div>
											{% endif %}
											{% if story.story_text %}
												<div class="col-xs-12 story-text story-text-full">
													<p class="story-text-{{ story.story_text_size }}">
														{{ story.story_text|safe }}
													</p>
													{% if story.story_credit && story.story_text_size === 'large' %}
														<p class="story-text-credit">
															{{ story.story_credit|safe }}
														</p>
													{% endif %}		
												</div>
											{% endif %}
										</div>
									{% endif %}

									{% if story.story_type == 'image-left' %}
										<div class="row">
											{% if story.story_image %}
												<div class="col-sm-6 story-image story-image-left">
													{% if story.story_image_link %}
														<a href="{{story.story_image_link}}">
														{% endif %}	
														<img src="{{ story.story_image.sizes.large }}" />
														{% if story.story_image_link %}
														</a>
													{% endif %}	
												</div>
											{% endif %}
											{% if story.story_text %}
												<div class="col-sm-6 story-text story-text-left {% if story.story_image === false %}offset-sm-6{% endif %}">
													<p class="story-text-{{ story.story_text_size }}">
														{{ story.story_text|safe }}
													</p>
													{% if story.story_credit && story.story_text_size === 'large' %}
														<p class="story-text-credit">
															{{ story.story_credit|safe }}
														</p>
													{% endif %}									
												</div>
											{% endif %}
										</div>
									{% endif %}

									{% if story.story_type == 'image-right' %}
										<div class="row">
											{% if story.story_text %}
												<div class="col-sm-6 col-md-5 story-text story-text-right ">
													<p class="story-text-{{ story.story_text_size }}">
														{{ story.story_text|safe }}
													</p>
													{% if story.story_credit && story.story_text_size === 'large' %}
														<p class="story-text-credit">
															{{ story.story_credit|safe }}
														</p>
													{% endif %}
												</div>
											{% endif %}
											{% if story.story_image %}
												<div class="col-sm-6 offset-md-1 {% if story.story_text === false %}offset-sm-6{% endif %}">
													<div class="story-image story-image-right">
														{% if story.story_image_link %}
															<a href="{{story.story_image_link}}">
															{% endif %}	
															<img src="{{ story.story_image.sizes.large }}" />
															{% if story.story_image_link %}
															</a>
														{% endif %}	
													</div>
												</div>
											{% endif %}
										</div>
									{% endif %}	

									{% if story.story_type == 'three' %}
										<div class="row mb1">
											{% for image in story.story_images %}
												<div class="col-sm-4 story-image story-image-three">
													{% if loop.index === 1 %}
														{% if story.story_image_1_link %}
															<a href="{{story.story_image_1_link}}">
														{% endif %}	
													{% endif %}	
													{% if loop.index === 2 %}
														{% if story.story_image_2_link %}
															<a href="{{story.story_image_2_link}}">
														{% endif %}	
													{% endif %}	
													{% if loop.index === 3 %}
														{% if story.story_image_3_link %}
															<a href="{{story.story_image_3_link}}">
														{% endif %}	
													{% endif %}
													<img src="{{ image.sizes.story }}" />
													{% if loop.index === 1 %}
														{% if story.story_image_1_link %}
															</a>
														{% endif %}	
													{% endif %}	
													{% if loop.index === 2 %}
														{% if story.story_image_2_link %}
															</a>
														{% endif %}	
													{% endif %}	
													{% if loop.index === 3 %}
														{% if story.story_image_3_link %}
															</a>
														{% endif %}	
													{% endif %}	
												</div>
										{% endfor %}
									</div>
									<div class="row">
										{% if story.story_text %}
											<div class="col-xs-12 story-text story-text-three">
												<p class="story-text-{{ story.story_text_size }}">
													{{ story.story_text|safe }}
												</p>
												{% if story.story_credit && story.story_text_size === 'large' %}
													<p class="story-text-credit">
														{{ story.story_credit|safe }}
													</p>
												{% endif %}									
											</div>
										{% endif %}
									</div>
								{% endif %}	

								{% if story.story_type == 'two' %}
									<div class="row mb1">
										{% for image in story.story_images_two %}
											<div class="col-xs-6 story-image story-image-two">
												{% if loop.index === 1 %}
													{% if story.story_image_1_link %}
														<a href="{{story.story_image_1_link}}">
													{% endif %}	
												{% endif %}	
												{% if loop.index === 2 %}
													{% if story.story_image_2_link %}
														<a href="{{story.story_image_2_link}}">
													{% endif %}	
												{% endif %}	
												<img src="{{ image.sizes.story2 }}" />
												{% if loop.index === 1 %}
													{% if story.story_image_1_link %}
														</a>
													{% endif %}	
												{% endif %}	
												{% if loop.index === 2 %}
													{% if story.story_image_2_link %}
														</a>
													{% endif %}	
												{% endif %}	
											</div>
										{% endfor %}
									</div>
									<div class="row">
										{% if story.story_text %}
											<div class="col-xs-12 story-text story-text-two">
												<p class="story-text-{{ story.story_text_size }}">
													{{ story.story_text|safe }}
												</p>
												{% if story.story_credit && story.story_text_size === 'large' %}
													<p class="story-text-credit">
														{{ story.story_credit|safe }}
													</p>
												{% endif %}									
											</div>
										{% endif %}
									</div>
								{% endif %}	

								{% if story.story_type == 'video' %}
									<div class="row">
										{% if story.story_video %}
											<div class="col-xs-12 story-vimeo">
												<div class="intrinsic-container intrinsic-container-16x9 intrinsic-container-story" id="intrinsic-container-news-video">
													<iframe id="news-hero-video" src="https://player.vimeo.com/video/{{ item.acf.hero_video }}?autoplay=1&title=0&byline=0&portrait=0" frameborder="0" fwebkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
												</div>
											</div>
										{% endif %}
										{% if story.story_text %}
											<div class="col-xs-12 story-text story-text-full">
												<p class="story-text-{{ story.story_text_size }}">
													{{ story.story_text|safe }}
												</p>
												{% if story.story_credit && story.story_text_size === 'large' %}
													<p class="story-text-credit">
														{{ story.story_credit|safe }}
													</p>
												{% endif %}		
											</div>
										{% endif %}
									</div>
								{% endif %}		

								{% if story.story_type == 'three-sixty' %}
									<div class="row">										
										{% if story.story_three_sixty_image_file %}
											<div class="col-xs-12 story-three-sixty-image">
												<div class="intrinsic-container intrinsic-container-16x9 intrinsic-container-story">
													{# https://raw.githubusercontent.com/googlevr/vrview/master/examples/gallery/taj-mahal.jpg #}
													<div id="vrview{{threeSixtyCount}}" data-image="{{story.story_three_sixty_image_file}}"></div>
													{# <iframe src="https://storage.googleapis.com/vrview/2.0/embed?image={{ story.story_three_sixty_image_file }}&is_stereo=false"> #}
												</div>
											</iframe> 
										</div>
									{% endif %}
									{% if story.story_text %}
										<div class="col-xs-12 story-text story-text-full">
											<p class="story-text-{{ story.story_text_size }}">
												{{ story.story_text|safe }}
											</p>
											{% if story.story_credit && story.story_text_size === 'large' %}
												<p class="story-text-credit">
													{{ story.story_credit|safe }}
												</p>
											{% endif %}		
										</div>
									{% endif %}
								</div>
								{% if threeSixtyNotLoaded %} 
									{#<script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>#}
									<script src="/public/vrview/build/vrview.js"></script>
									{% set threeSixtyNotLoaded = false %}
									{% endif %}
									{% set threeSixtyCount = threeSixtyCount + 1 %}
									{% endif %}													
								</div>
							{% endfor %}
						</div>
					</section>
				{% endif %}