<section class="block padded spy-target spy-start" id="about-profile">
	<div class="container">
		<div class="row m3">
			<div class="col-sm-5">
				<h2 class="medium-dark">Durkee Brown Viveiros & Werenfels (DBVW) Architects is an award winning full-service architecture firm in Providence, Rhode Island.</h2>
			</div>
			<div class="col-sm-5 offset-sm-1">
				<p class="medium-dark">People know us for our eagerness to listen, to laugh, to get our hands dirty, and to put our noses to the grindstone. It is not uncommon to find us surveying at the top of scaffolding or measuring in a crawl space, because our approach to design integrates technical knowledge, tactile experience, innovative ideas and clarity of concept. Smart growth principles and sustainability are core values at DBVW. We believe in building strong, livable communities that promote economic growth and preserve cultural and natural resources. We design inspiring and engaging places for people to live, work and play.
				</p>
			</div>
		</div>
	</div>
</section>