<section class="block padded-strict spy-target" id="people">
	<div class="container-fluid">
		<div class="row">
			<div class="pl1 pr1" id="people-statement-mobile">
				<h3 class="mb2">
					{{ options.people_statement }}
				</h3>
			</div>		
			<div class="" id="people-list">
				{% for person in people %}
					{% include 'person.html' %}			
				{% endfor %}
			</div>
			<div class="" id="people-statement">
				<h3 class="">
					{{ options.people_statement }}
				</h3>
			</div>
		</div>
	</div>
</section>

