<section class="block padded vh100 spy-target" id="about-people">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8">
			</div>
			<div class="col-sm-4">
				<h2 class="medium-dark">
					Our studio is a high-spirited, multi-generational environment where we share ideas, cultivate talent and incubate leaders. Over the years, our work and the big ideas behind it have attracted a variety of bright minds, energetic designers and seasoned practitioners.
				</h2>
			</div>
		</div>
	</div>
</section>