<section class="block padded vh100 spy-target" id="about-people">
	<div class="container-fluid debug">
		<div class="row debug">
			<div class="" id="people">
				{% include 'person.html' %}
				{% include 'person.html' %}
				{% include 'person.html' %}
				{% include 'person.html' %}
				{% include 'person.html' %}
				{% include 'person.html' %}					
			</div>
			<div class="" id="people-statement">
				<h3 class="">
					{{ options.people_statement }}
				</h3>
			</div>
		</div>
	</div>
</section>

<div id="blanket-person" class="blanket"></div>