
<div class="person" id="1">
	<a href="#" class="modal-toggle" data-modal-target="modal-person-1">
		<img src="/public/images/person.jpg" />
		<h4 class="bold person-name medium-dark">Person Name</h4>
		<h5 class="medium-dark person-title">Job Title</h5>
		<h5 class="medium-dark person-email">email@email.com</h5>
	</a>
</div>

<div class="modal modal-person" id="modal-person-1">
	<div class="container-fluid">
		<div class="row">
			<div class="modal-person-blanket modal-close">&nbsp;</div>
			<div class="modal-person-content">
				<div class="tile person-tile">
					<img src="/public/images/person.jpg" />
					<h4 class="bold person-name medium-dark">Person Name</h4>
					<h5 class="medium-dark person-title m0">Job Title</h5>
					<h5 class="medium-dark person-email m0">email@email.com</h5>
				</div>
				<p class="person-bio mt3">
					Lorem ipsum Quis sunt adipisicing culpa est nisi Duis cupidatat dolor laboris in sunt velit laboris nostrud fugiat adipisicing qui enim elit cupidatat nulla dolor qui veniam sunt amet labore labore Duis cupidatat minim sint.
					Lorem ipsum Quis sunt adipisicing culpa est nisi Duis cupidatat dolor laboris in sunt velit laboris nostrud fugiat adipisicing qui enim elit cupidatat nulla dolor qui veniam sunt amet labore labore Duis cupidatat minim sint.
				</p>
				<div class="person-fun-facts mb2">
					
				</div>
				<a href="mailto:{{person.email}}" target="_blank" class="button-yellow button">	
					Email {{person.name}}
				</a>	
			</div>
		</div>		
	</div>
</div>