<div class="person" id="1">
	<a href="#" class="modal-toggle" data-modal-target="modal-person-1">
		<img src="/public/images/person.jpg" />
		<h4 class="bold person-name medium-dark">Person Name</h4>
		<h5 class="medium-dark person-title">Job Title</h5>
		<h5 class="medium-dark person-email">email@email.com</h5>
	</a>
</div>

<div class="modal modal-person" id="modal-person-1">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-6 offset-md-6 offset-lg-8 bg-light">
				<img src="/public/images/person.jpg" />
				<h4 class="bold person-name medium-dark">Person Name</h4>
				<h5 class="medium-dark person-title">Job Title</h5>
				<h5 class="medium-dark person-email">email@email.com</h5>		
			</div>
		</div>
	</div>
</div>