<div id="projects-filters" class="filters sticky-nav static" data-category-start="{% if routeCategory %}{{ routeCategory }}{% else %}all{% endif %}">
    <div class="category-nav">
        <a href="#" class="filter-dropdown-button">
            <span class="category-label">Category</span> <span class="ml1 icon" data-icon="”"></span>
        </a>
        <ul class="button-group filters-button-group">
            <li>
            <a href="/work" class="is-checked filter-all filter-button"data-filter="all" data-category="all">All</a>
            </li> 
            {% for category in project_categories %}
            <li>
                <a href="/work/{{ category.slug }}" class="filter-button" data-filter="{{ category.slug }}" data-category="{{ category.slug }}">{{ category.name }}</a>
            </li>           
            {% endfor %}
        </ul>
    </div>
</div>