<section class="block overlapping" id="work-introduction">
    <div class="container-fluid">
        <div class="row work-introduction-row">
            <div class="col-md-10 col-lg-6 work-introduction-col">
                <div class="work-introduction-category work-introduction-category-all active">
                 <h3 class="medium">
                    Work
                </h3>
                <h2 class="work-statement work-statement-all">
                    {{ options.work_statement }}
                </h2>
            </div>
            {% for category in project_categories %}
            <div class="work-introduction-category work-introduction-category-{{ category.slug }} inactive">
             <h3 class="medium">
                {{ category.name }}
            </h3>
            <h2 class="work-statement work-statement-{{ category.slug }}">
                {% if category.description %}
                {{ category.description }}
                {% else %}
                {{ category.name }} Lorem ipsum Nulla quis in aute pariatur dolore occaecat in voluptate Excepteur eu dolore nostrud Excepteur veniam ea tempor exercitation adipisicing sint.
                {% endif %}
            </h2>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-12 col-lg-6">
        {% include 'filters.html' %}
    </div>
</div>
</div>
</section>
