{% extends 'partials/base.html' %}

{% block content %}

<section class="projects">

	{% for project in projects %}

        <script type=""></script>

        <div data-async data-item-type="{{ project.type }}" data-item-id="{{ project.id }}" id="{{ project.slug }}" class="project">
        <a href="{{ project.link }}">

            <h2 class="project-title">{{ project.title }}</h2>

            {% if project.featured_media %}

                <img src="{{ project.featured_media }}" />

            {% endif %}

        </a>
        </div>

    {% endfor %}

</section>

{% endblock %}
