

$about-nav-height: 60px;
$about-nav-height-mobile: 60px;

$text-about-nav: (
	xs: (10px, 9px),
	sm: (11px, 50px),
	md: (13px, 50px),
	lg: (13px, 50px),
	xl: (13px, 50px)
	) !default;

.page-about{
	.nav-about-link{
		color: $brand;
		@extend .bold;
	}
}

#about-nav{
	height: $about-nav-height;
	background: white;
	width: 100%;
	z-index: 6;
	border-top: 1px solid darken($ultra-light, 5%);
	border-bottom: 1px solid darken($ultra-light, 5%);

	&.fixed{
		position: fixed;
		top: $nav-height;
	}

	@media screen and (max-width: $sm) {
		height: $about-nav-height-mobile;
		&.fixed{
			top: $nav-height-mobile;
		}
	}

	ul{
		//text-align: center;
	}

	li{
		display: inline-block;
		margin: 0 30px;

		@media screen and (max-width: $md) {
			margin: 0 12px;
		}

		@media screen and (max-width: $sm) {
			margin: 0 8px;
		}

		@media screen and (max-width: $xs) {
			width: 18%;
		}

	}

	a{
		margin-top: -2px;
		display: block;
		padding: 8px 0px 0;
		height: $about-nav-height;
		color: $medium-dark;
		@extend .uppercase;
		@extend .tracked;
		border-bottom: 0px solid transparent;
		@include transition(all .15s);		
		@include text-size($text-about-nav);

		&:hover{
			border-bottom: 4px solid lighten($yellow, 16%);
		}

		&.active{
			border-bottom: 4px solid $yellow;
			color: $yellow-darker;
		}

		@media screen and (max-width: $xs) {			
			color: $brand;
			height: 25px;
			margin-top: 3px;
			border-bottom: 2px solid transparent;
			display: inline-block;

			&:hover{
				border-bottom: 2px solid lighten($yellow, 16%);
			}

			&.active{
				border-bottom: 2px solid $yellow;
			}

		}

	}
}

.about-nav-fixed{
	#about-profile{
		margin-top: $about-nav-height;
		@media screen and (max-width: $xs) {
			margin-top: $about-nav-height-mobile;
		}		
	}
}

//people

$people-width: 67%;
$people-statement-width: 33%;

#people{
	float: left;
	width: $people-width;
}

#people-statement{
	float: left;
	width: $people-statement-width;
	@extend .pl2;
}

.modal-person{
	// width: calc(100% - #{$container-fluid-sum});
	// margin: 0 auto;
	// left: 50%;
	// @include transform(translate(-50%, 0%));	
	// //@extend .debug;
	border: 1px solid $brand;

	.container-fluid{
		border: 2px solid green;
	}
}

.modal-person-blanket{
	//@extend .debug;
	border: 1px solid red;
	position: absolute;
	top: 0;
	left: 0;
	width: $people-width;
	height: 100%;
}

.modal-person-content{
	//@extend .debug;
	border: 1px solid $brand;
	position: absolute;
	top: 0;
	right: 0;
	width: $people-statement-width;	
	height: 100%;

	padding-right: $container-fluid-padding - 15px;		
	padding-top: 161px;
	@extend .pl2;

	background: transparentize($ultra-light, .5);
	overflow: scroll;

	.tile{
		max-width: 250px;
	}
}


.person{
	width: 25%;
	float: left;
	padding: 0 10px;
	margin-bottom: 40px;

	.person-name, h5{
		margin-bottom: 0em;
	}

	.person-email{
		text-decoration: underline;
	}
}

