
/* project filtering */

$nav-width: 465px;
$button-offset: 88px;
$category-nav-right: $nav-width - $container-fluid-padding - $button-offset;
$category-nav-color: transparentize(darken($ultra-light, 0%),.04);
$category-nav-height: 40px;
$category-menu-width: 220px;


$text-filters: (
	xs: (13px, 16px),
	sm: (14px, 18px),
	md: (13px, 18px),
	lg: (14px, 28px),
	xl: (14px, 28px)
	) !default;


.filters{
	padding-top: 30px;
	position: relative;
	z-index: 3;

	&.fixed{
		padding-top: 0;
		position: fixed;
		top: $nav-height;
		left: 0;
		width: 100%;
		height: $category-nav-height;
		overflow: hidden;
		background: $category-nav-color;	

		&:hover{
			overflow: visible;
		}

		.filter-menu{
			right: $category-nav-right;
		}			
	}
}

.filter-menu{
	position: absolute;
	right: $category-nav-right - $container-fluid-padding;
	width: $category-menu-width;
	height: 0;

	&:hover{
		height: auto;
		.filters-button-group{
			opacity: 1;
			height: 325px;
		}
	}	
}

.filter-dropdown-button{
	@extend .tracked;
	@extend .bold;
	@extend .uppercase;
	display: block;
	color: $brand;
	width: $category-menu-width;	
	font-size: 14px;	
	padding: 8px 13px;
	background: transparent;
	@include transition(all .25s);

	&:hover{
		color: $brand;

		+ .filters-button-group{
			
		}
	}
}


.filters-button-group{
	@include transition(all .25s);
	width: $category-menu-width;
	opacity: 0;	
	height: 0;
	background: $category-nav-color;
	margin-top: -3px;
	padding-top: 10px;
	padding-bottom: 10px;

	li{
		padding-left: 14px;		
		@include text-size($text-filters);
	}

	button{
		background: none;
		border: none;
		outline: none;
		padding: 0;
		@include text-size($text-filters);
		letter-spacing: .03em;		
		color: $medium-dark;

		&.is-checked{
			@extend .bold;			
			color: $brand;
		}

		&:hover{
			cursor: pointer;
			color: darken($brand,10%);
		}
	}

}



