
/* Helpers and miscellaneous reusable styles */


.block{
	position: relative;
	width: 100%;
	display: block;
	z-index: 1;
}


.overflow-hidden{
	overflow: hidden;
}

.display-block{
	display: block;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}


//style the unloaded and loaded states of the page
.loading{
	opacity: 0;
	@include transition(opacity,.5s);
}

.loaded{
	opacity: 1;
}

