
#nav{
	height: $nav-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	background: $ultra-light;
	padding-top: 12px;

	@media screen and (max-width: $sm) {
		height: $nav-height-mobile;
	}
	
}

.logo{
	width: 190px;

	@media screen and (max-width: $sm) {
		width: 100px;
	}

}