

$text-nav: (
  xs: (10px, 9px),
  sm: (13px, 30px),
  md: (14px, 53px),
  lg: (15px, 53px),
  xl: (15px, 53px)
) !default;


#nav{
	height: $nav-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	background: $ultra-light;
	padding-top: 15px;

	@media screen and (max-width: $sm) {
		height: $nav-height-mobile;
	}
	
}

.logo{
	width: 165px;
	float: left;

	@media screen and (max-width: $sm) {
		width: 100px;
	}

}

.nav-items{
	float: right;
	position: relative;
	right: -10px;

	li{
		display: inline-block;
		margin-left: 10px;
	}

	a{
		color: $medium-dark;
		@include text-size($text-nav);
		display: block;
		padding: 0 15px;
		@extend .uppercase;
		@extend .tracked;
	}

	@media screen and (max-width: $xs) {
		display: none;
	}

}