
#nav{
	height: $nav-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	background: $ultra-light;
	padding-top: 15px;

	@media screen and (max-width: $sm) {
		height: $nav-height-mobile;
	}
	
}

.logo{
	width: 165px;
	float: left;

	@media screen and (max-width: $sm) {
		width: 100px;
	}

}


.nav-items{
	float: right;
	li{
		display: inline-block;
		margin-left: 10px;
	}

	a{
		color: $medium-dark;
		@include text-size($text-nav);
		//border: 1px solid black;
		display: block;
		padding: 0 15px;

		@extend .uppercase;
		@extend .tracked;

	}
}