
/* Variables */

//brand colors
$brand: #2c6e9b;

//grays
$ultra-light: #fafafa;
$light: #f1f1f1;
$medium: #666666;
$dark: #222222;

//utility colors
$error: #ff4a4a;

$font-main: 'Akkurat Pro', Helvetica, Arial, Sans-serif;

