
/* work page */

$text-work-statement: (
	xs: (13px, 22px),
	sm: (14px, 24px),
	md: (21px, 30px),
	lg: (20px, 31px),
	xl: (26px, 39px)  
	) !default;

$grid-item: 32.5%;
$grid-item-sm: 48%;
$grid-gutter: 1.25%;
$grid-gutter-sm: 4%;

$tile-mask-1: transparentize($dark, .1);
$tile-mask-1-sm: transparentize($dark, .04);
$tile-mask-2: transparentize($dark, 1);
$tile-mask-stop: 23%;
$tile-mask-stop-sm: 50%;
$tile-hover: transparentize($brand, .6);

$work-introduction-height: 220px;
$work-introduction-height-sm: 140px;

#work-introduction{
	padding-top: $nav-height;
	height: 540px;

	&.overlapping{
		height: auto;		
		padding-top: $container-fluid-padding * 2;
		padding-bottom: $container-fluid-padding * 1.5;	

		@media screen and (max-width: $sm) {
			padding-top: 80px;
			padding-bottom: 30px;
		}		
	}

}


.work-statement{
	@include text-size($text-work-statement);
}


//the grid
#grid{
	padding-bottom: 10em;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.grid-sizer,.grid-item{
	width: $grid-item;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
	}
}

.gutter-sizer{
	width: $grid-gutter;

	@media screen and (max-width: $sm) {
		width: $grid-gutter-sm;
	}	
}

.project{
	position: relative;	
	margin-bottom: $grid-gutter;

	@media screen and (max-width: $sm) {
		margin-bottom: $grid-gutter-sm;
	}	

	img{
		display: block;
	}	

	h1{
		position: absolute;
		top: 30px;
		left: 30px;
		z-index: 1;
		text-shadow: 1px 1px 1px black;
		display: none;
	}

	@media screen and (min-width: $md+1) {
		&:hover{
			.project-image:after{
				background: $tile-hover;			
			}
		}		
	}

}


.project-image{
	position: relative;

	&:before{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 120px;
		height: 100%;
		background: linear-gradient(0deg, $tile-mask-1 0%, $tile-mask-2 $tile-mask-stop, $tile-mask-2 100%);	

		@media screen and (max-width: $md) {
			background: linear-gradient(0deg, $tile-mask-1-sm 0%, $tile-mask-2 $tile-mask-stop-sm, $tile-mask-2 100%);	
		}
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 120px;
		height: 100%;
		@include transition(background, .18s);
		background: transparent;
	}	

}

.project-image-featured{
	display: none;
}

.project-title{
	position: absolute;
	bottom: 15px;
	left: 0;
	padding: 0 15px;
	margin-bottom: 0;
	color: white;
	z-index: 1;
	line-height: 1.3;

	@media screen and (max-width: $md) {
		bottom: 7px;
		padding: 0 7px;
		line-height: 1.15;
		font-family: $font-bold;
		font-size: 14px;
	}

	@media screen and (max-width: $sm) {
		font-size: 12px;
	}	
}


.featured-active{

	width: 100%;

	// $featured-margins: $container-fluid-padding * 2;
	// $featured-margins-mobile: $container-fluid-padding-mobile * 2;

	// width: calc(100% + #{$featured-margins});
	// margin-left: -$container-fluid-padding;

	// @media screen and (max-width: $sm) {
	// 	width: calc(100% + #{$featured-margins-mobile});
	// 	margin-left: -$container-fluid-padding-mobile;
	// }

	.project-image-featured{
		display: block;
	}

	.project-image-normal{
		display: none;
	}

	

}


