
/* work page */

$grid-item: 32%;
$grid-item-sm: 48%;
$grid-gutter: 2%;
$grid-gutter-sm: 4%;

$tile-mask-1: transparentize($dark, .05);
$tile-mask-2: transparentize($dark, 1);
$tile-mask-stop: 23%;
$tile-hover: transparentize($brand, .1);

$work-introduction-height: 280px;

#work-introduction{
	padding-top: $nav-height;
	height: 540px;

	&.overlapping{
		padding-top: $container-fluid-padding * 2;
		height: auto;
		padding-bottom: $container-fluid-padding * 1.5;	
	}

}

.work-introduction-row{
	height: $work-introduction-height;
}

.work-introduction-category{
	position: absolute;
	opacity: 0;
	@include transition(opacity, .2s ease .1s);

	&.active{
		@include transition(opacity, .63s ease .33s);
		opacity: 1;
	}
}

@include keyframes(scale) {
	0% {
		@include transform(scale(1));
	}
	50% {
		@include transform(scale(1));
	}  
	100% {
		@include transform(scale(1));
	}
}

@include keyframes(fade-in) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


//the grid
#grid{
	padding-bottom: 10em;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.grid-sizer,.grid-item{
	width: 32%;

	@media screen and (max-width: $sm) {
		width: $grid-item-sm;
	}
}

.gutter-sizer{
	width: 2%;

	@media screen and (max-width: $sm) {
		width: $grid-gutter-sm;
	}	
}

.project{

	position: relative;	
	margin-bottom: $grid-gutter;

	@media screen and (max-width: $sm) {
		margin-bottom: $grid-gutter-sm;
	}	

	img{
		display: block;
	}	

	h1{
		position: absolute;
		top: 30px;
		left: 30px;
		z-index: 1;
		text-shadow: 1px 1px 1px black;
		
		display: none;
	}

	&:hover{
		.project-image:after{
			background: $tile-hover;			
		}
		h3{
			@extend .bold;
		}
	}

}

.project-image{
	position: relative;

	&:before{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 120px;
		height: 100%;
		background: linear-gradient(0deg, $tile-mask-1 0%, $tile-mask-2 $tile-mask-stop, $tile-mask-2 100%);		
	}

	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 120px;
		height: 100%;
		@include transition(background, .18s);
		background: transparent;
	}	

}

.project-title{
	position: absolute;
	bottom: 15px;
	left: 0;
	padding: 0 15px;
	margin-bottom: 0;
	color: white;
	z-index: 1;
	line-height: 1.3;

	@media screen and (max-width: $sm) {
		bottom: 10px;
		padding: 0 10px;
	}
}


body.category-filtered{
	.grid-item:first-child{
		width: 100%;
		height: 400px;
		overflow: hidden;
	}
	.grid-item.category-feature{
		width: 100%;
	}	
}


