/* --------------------------------------------------------
The variable lists for each font size.

`$regular` is the default size, so don't delete that list.
If making a new list, define at least the `base` size and leading, like in the `$small` list.

The keys in each list correspond to the list of breakpoints defined in `_responsive-breakpoints.scss`.
If a key is supplied that is not in the $breakpoints list, the mixin will throw an error.
-------------------------------------------------------- */


//default sizes
$text-massive: (
  xs: (42px, 54px),
  sm: (60px, 72px),
  md: (76px, 84px),
  lg: (82px, 90px),
  xl: (82px, 90px)
) !default;

$text-huge: (
  xs: (18px, 30px),
  sm: (22px, 32px),
  md: (24px, 36px),
  lg: (27px, 40px)
) !default;

$text-large: (
  xs: (28px, 36px),
  sm: (28px, 36px),
  md: (36px, 42px),
  lg: (36px, 42px),
  xl: (40px, 48px)
) !default;

$text-medium: (
  xs: (24px, 30px),
  sm: (24px, 30px),
  md: (28px, 36px),
  lg: (28px, 36px),
  xl: (36px, 42px)
) !default;

$text-small: (
  xs: (12px, 18px),
) !default;


$text-regular: (
  xs: (13px, 20px),
  sm: (14px, 22px),
  md: (16px, 27px),
  lg: (18px, 31px),
  xl: (18px, 31px)
) !default;



//custom sizes

$text-about-nav: (
  xs: (10px, 9px),
  sm: (12px, 50px),
  md: (14px, 50px),
  lg: (14px, 50px),
  xl: (14px, 50px)
) !default;

$text-nav: (
  xs: (10px, 9px),
  sm: (13px, 53px),
  md: (14px, 53px),
  lg: (15px, 53px),
  xl: (15px, 53px)
) !default;


