<section class="block contact-section" id="contact-info">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb3">
				<address class="address h4">
					DBVW Architects<br>
					{{options.address|safe}}
				</address>
				<h4 class="phone-number mb3">
					phone: {{options.phone_number}}
				</h4>

				<h4 class="mb0">
					<a href="/sharing" class="button button-yellow minimal">
						FTP and File Sharing
					</a>
				</h4>
				<h4 class="mb0">
					<a href="/careers" class="button button-yellow minimal">
						Careers
					</a>
				</h4>
				<h4 class="mb0">
					<a href="/about" class="button button-yellow minimal">
						About DBVW
					</a>
				</h4>								
			</div>
			<div class="col-md-8">
				<div class="map-embed">
					<iframe frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place
					?q=dbvw+architects
					&key=AIzaSyAFV1bY3mTPJC0FV9w2tEQZ1DhN9SVsf-8
					&zoom=14
					" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>