<div class="block hidden bg-yellow" id="contact-thank-you">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="white centered">{{item.acf.newsletter_thank_you_statement}}</h3>
			</div>	
		</div>
	</div>
	<a href="#thanks-closed" id="contact-thank-you-close"><span class="icon" data-icon="ﬂ"></span></a>
</div>
<div class="block vh55 hero contact-section" id="contact-introduction">
	<div class="block-background" style="background-image: url('{{ item.acf.contact_introduction_image.sizes.hero }}');">
	</div>
	<div class="container vertical-center">
		<div class="row">
			<div class="col-md-8 col-lg-6">
				<h2 class="white">
					{{ item.acf.contact_introduction_statement }}
				</h2>
				<a href="/contact" class="button button-white mt1">
					Contact Us
				</a>
			</div>
		</div>
	</div>
</div>